<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logon</title>
    <link rel="stylesheet" href="/css/index.css"/>    
</head>
<body>
    <div class="login-container">
        <div class="form-container">
            <h1>Login</h1>
            <form action="/login" method="get">
                <label for="document">Document:</label>
                <input type="text" id="document" name="document" required >

                <label for="account">Account:</label>
                <input type="text" id="account" name="account" required
                    pattern="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
                    title="Informe um UUID válido no formato XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">

                <button type="submit">Send</button>

                <div th:if="${error}" class="alert alert-error" th:text="${error}"></div>
            </form>
        </div>
    </div>
</body>
</html>
